@{
    ViewData["Title"] = "ContactUS";
}



<h1>@ViewData["Title"]</h1>
<p>a way for cantact Us 0917****678</p>
<P>Thanks</P>
<p>@ViewBag.nfnc4</p>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>family</th>
        <th>fathername</th>
        <th>password</th>
        <th>gender</th>
        <th>active</th>
        <th>height</th>
                
    </tr>
@{
    foreach(var item in Model){
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Family</td>
            <td>@item.Fathername</td>
            <td>@item.Password</td>
            <td>@item.Gender</td>
            <td>@item.Active</td>
            <td>@item.Height</td>
        </tr>
    }
}
</table>